# Logs
logs
*.log
npm-debug.log*

# Build output
dist
build
coverage

# Node modules
node_modules

# Environment files
.env
.env.*

# Editor directories and files
.idea
.vscode/*
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Other
.DS_Store
.cache
package-lock.json 